node_modules/**
!node_modules/embed-asset-tool/
!node_modules/embed-asset-tool/**
.vscode
.git
**/*.map
**/*.ts
**/*.tsbuildinfo
**/*.log
**/.DS_Store
**/Thumbs.db
images/*.svg
images/icon_big.png
*.txt
*.bat
.gitignore
temp
AGENTS.md
.*/
